<html>
    <head>
        <link href="{{ url_for('static', filename='prism.css') }}" rel="stylesheet">
        <script src="https://kit.fontawesome.com/28b61cd0cb.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <title>Wong's Studio Learning</title>
        <style>
            section{
                height:100vh;
                width:100vh;
                margin:auto;
            }
            .center {
                text-align:center;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Wong's Studio Learning</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Python</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">HTML CSS JS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">School</a>
                  </li>
                </ul>
                <form class="d-flex">
                  <a href="/admin" class="btn btn-outline-success">Add Post</a>
                </form>
              </div>
            </div>
          </nav>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure to delete {{detail["title"]}} ?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="deletePost()">Delete</button>
              </div>
            </div>
          </div>
        </div>
        <section>
            <div style="text-align: center">
                <h1>{{detail["title"]}}</h1>
            </div>
            <div style="width: 100%; text-align: right; ">
                <a href="/edit/{{detail['link']}}"><i class="far fa-edit"></i></a> &nbsp;&nbsp;
                <a href="#"><i class="far fa-trash-alt" data-bs-toggle="modal" data-bs-target="#exampleModal" ></i></a>
            </div>
            <div>
{{content}}
            </div>
        </section>
        <script>
            var myModal = document.getElementById('myModal')
            var myInput = document.getElementById('myInput')
            var gid = "{{detail["id"]}}"
            var glink = "{{detail["link"]}}"
            myModal.addEventListener('shown.bs.modal', function () {
              myInput.focus()
            })

        </script>
        <script src="{{ url_for('static', filename='ckeditor.js') }}"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-database.js"></script>
        <script src="{{ url_for('static', filename='admin.js') }}"></script>
        <script src="{{ url_for('static', filename='prism.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    </body>
</html>